@model Account
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div asp-validation-summary="All"></div>
<form method="post">
    <div class="input">
        <input placeholder="Username" type="text" asp-for="Username" required="">
        <input placeholder="Password" type="password" asp-for="Password" required="">
        <input placeholder="Email" type="text" asp-for="Email" required="">
        <input placeholder="Họ" type="text" asp-for="Ho" required="">
        <input placeholder="Tên" type="text" asp-for="Ten" required="">
        <input placeholder="Địa chỉ" type="text" asp-for="Address" required="">
        <input placeholder="Số điện thoại" type="text" asp-for="SDT" required="">
    </div>
    <button>Save</button>
</form>

