<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/log.css" rel="stylesheet" />
</head>
<body>
    <a href="/administrator">Trang chính</a>
    <div>
        @RenderBody()
    </div>
</body>
</html>
