
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "Administrator";
}

<h1>Manager</h1>
<ul>
    <li>
        <a href="/administrator/category">Category</a>
    </li>
    <li>
        <a href="/administrator/product">Product</a>
    </li>
    <li>
        <a href="/administrator/role">Role</a>
    </li>
    <li>
        <a href="/administrator/member">Member</a>
    </li>
    <li>
        <a href="/administrator/order">Đơn hàng</a>
    </li>
</ul>

