@model List<Role>
@{
    Layout = "_LayoutHome";
    ViewData["Title"] = "ManagerRole";
}
<link href="/css/style.css" rel="stylesheet" />
<h1>Role</h1>
<a href="#Create">Create</a>
<div class="modal" id="Create">
    <div class="modal-dialog">
        <div class="modal-headding">
            Create Role
        </div>
        <div class="modal-body">
            <form action="/administrator/role/create" method="post">
                <p>
                    <label>Name</label>
                    <input type="text" name="name" />
                </p>
                <p>
                    <button>Save</button>
                    <a href="/administrator/Role">Close</a>
                </p>
            </form>
        </div>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr data-id="@item.Id">
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td class="del">
                <img src="/Images/edit.png" />
            </td>
            <td>
                <a class="delete" href="/administrator/role/delete/@item.Id">
                    <img src="~/images/trash.png" />
                </a>
            </td>
        </tr>
    }
</table>

@*js*@
<script type="text/javascript">
    var a = document.getElementsByClassName('del');
    for (var i = a.length - 1; i >= 0; i--) {
        a[i].onclick = function () {
            var id = this.parentNode.getAttribute('data-id');
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/administrator/role/edit/' + id);
            xhr.send();
            xhr.onload = function () {
                var o = JSON.parse(xhr.response);
                frm['id'].value = o['id'];
                frm['name'].value = o['name'];
                window.location = window.location + '#edit';
            }
        }
    }
</script>
<div class="modal" id="edit">
    <div class="modal-dialog">
        <div class="modal-headding">
            Edit Role
        </div>
        <div class="modal-body">
            <form name="frm" method="post" action="/administrator/role/edit">
                <input type="hidden" name="id" />
                <p>
                    <label>Name</label>
                    <input type="text" name="name" />
                </p>
                <p>
                    <button>Save</button>
                    <a href="/administrator/role">Close</a>
                </p>
            </form>
        </div>
    </div>
</div>
@*delete*@
<script type="text/javascript">
    var b = document.getElementsByClassName('delete');
    for (var i = 0; i < b.length; i++) {
        b[i].onclick = function () {
            return confirm('are you sure delete?');
        }
    }
</script>
